<div class="stock-selector" [formGroup]="parent">
  <div formGroupName="selector"> <!-- stock-inventory.component, FromGroup named as selector  -->
    <select formControlName="product_id">
      <option value="">Select stock...</option>
      <option *ngFor="let product of products" [value]="product.id">{{ product.name }} </option>
    </select>
    <br />
    <!-- <input formControlName="quantity" type="number"
      step="10" min="10" max="1000"
    placeholder="Select quantity..." /> -->

    <app-stock-counter
      formControlName="quantity"
      [step]="10" [min]="10" [max]="1000">
    </app-stock-counter>

    <button (click)="onAdd()" [disabled]="stockExists || notSelected" type="button">Add Stock</button>

    <div *ngIf="stockExists" class="stock-selector__error">
      Item already exists in the stock
    </div>

  </div>
</div>
