<div *ngIf="userToView">

  DETAILS FOR <strong>{{ user?.name }}</strong> <br /><br />

  Username: {{ user?.username }}

  Address Info <br />
  {{ user?.address?.city }} {{ user?.address?.street}}, {{ user?.address?.zipcode}}
</div>
<br />
<h2>User Form</h2>
Is Valid: {{ form.valid | json }}
<form #form="ngForm" novalidate>

  <div>
    Username: <input #userName="ngModel" required type="text" name="name" [ngModel]="userToView?.name" />
    {{ userName.errors | json }}
  </div>
  <div>
    Email: <input required type="text" #userEmail="ngModel" name="email" [ngModel]="userToView?.email" />
    {{ userEmail.errors | json }}
  </div>

  <div>
    <label>
      <input
        (ngModelChange)="toggleUsername(userToView?.username)"
        type="radio" [value]="true" name="checkedIn" [ngModel]="userToView?.username === 'Bret'">
      Yes
    </label>
    <label>
      <input
        (ngModelChange)="toggleUsername(userToView?.username)"
        type="radio" [value]="false" name="checkedIn" [ngModel]="userToView?.username === 'Bret'">
      No
    </label>
  </div>

  <div>
    Manager:
    <select name="manager" [ngModel]="userList"
            [value]="0"
            >
      <option *ngFor="let _user of userList" [ngValue]="_user?.id">
        {{ _user.username }} | {{ _user.email }}
      </option>
    </select>
  </div>
</form>
