
<br />
<h2>User Form</h2>
Is Valid: {{ form.valid | json }}

<form #form="ngForm" novalidate (ngSubmit)="handleSubmit(form.value, form.value)">

  <div>
    Username: <input #userName="ngModel" required type="text" name="name" [ngModel]="userToView?.name" />
    {{ userName.errors | json }}

    <div class="requiredField"
         *ngIf="(userName.dirty || userName.touched) && userName.errors?.required">
      Username is required.
    </div>

  </div>
  <div>
    Email: <input required type="text" #userEmail="ngModel" name="email" [ngModel]="userToView?.email" />
    {{ userEmail.errors | json }}

    <div class="requiredField"
         *ngIf="(userEmail.dirty || userEmail.touched) && userEmail.errors?.required">
      Email is required.
    </div>
  </div>

  <div>
    <label>
      <input
        (ngModelChange)="toggleUsername(userToView?.username)"
        type="radio" [value]="true" name="checkedIn" [ngModel]="userToView?.username === 'Bret'">
      Yes
    </label>
    <label>
      <input
        (ngModelChange)="toggleUsername(userToView?.username)"
        type="radio" [value]="false" name="checkedIn" [ngModel]="userToView?.username === 'Bret'">
      No
    </label>
  </div>

  <div>
    Manager:
    <select name="manager" [ngModel]="userList"
            [value]="0" required
    >
      <option *ngFor="let _user of userList" [ngValue]="_user?.id">
        {{ _user.username }} | {{ _user.email }}
      </option>
    </select>
  </div>

  <button type="submit" [disabled]="form.invalid">
    Submit the User
  </button>
</form>

<div *ngIf="userToView">

  DETAILS FOR <strong>{{ user?.name }}</strong> <br /><br />

  Username: {{ user?.username }}

  Address Info <br />
  {{ user?.address?.city }} {{ user?.address?.street}}, {{ user?.address?.zipcode}}
</div>
