<div class="stock-counter" [class.focused]="focus">
  <div>
    <div
      tabindex="0"
      (keydown)="onKeyDown($event)"
      (blur)="onBlur($event)"
      (focus)="onFocus($event)"
    >
      <p>{{ value }}</p>
      <div>
        <button type="button"
        [disabled]="value === max" (click)="increment()">
          +
        </button>
        <button type="button"
        [disabled]="value === min" (click)="decrement()">
          -
        </button>
      </div>
    </div>
  </div>
</div>
