<div [formGroup]="parent">
  <div formGroupName="store">
    <input type="text" formControlName="branch" placeholder="Branch ID"> <br>
    <div class="error" *ngIf="invalid">Invalid branch code: 1 letter, 3 Numbers</div>
    <div class="error" *ngIf="required('branch')">Branch ID is required</div>
    <div class="error"  *ngIf="unknown">Unknown branch, please check the ID</div>

    <input type="text" formControlName="code" placeholder="Store Code">
    <div class="error" *ngIf="required('code')">
      Store Code is required
    </div>
  </div>
</div>
