<div class="stock-inventory">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

   <app-stock-branch [parent]="form"></app-stock-branch>

   <app-stock-selector (added)="addStock($event)" [products]="products" [parent]="form"></app-stock-selector>

   <div>Total: {{ total }}</div>
   <app-stock-products (removed)="removeStock($event)" [map]="productMap" [parent]="form"></app-stock-products>
   <div>Total: {{ total }}</div>

    <div class="stock-inventory__button">
      <button [disabled]="form.invalid" type="submit">Order Stock</button>
    </div>

    <pre> {{ form.value | json }} </pre>
  </form>
</div>
