<div>
  <label>Credit Card Number
    <input type="text" name="credit-card" id="credit-card"
    placeholder="Enter your 16-digit card number" credit-card>
  </label>
   <!-- FIXME: Fix this -->
  <!-- <label
        tooltip="3 digits, back of your card"
        #myTooltip="toolTip">

        Enter your security code
        <span
          (mouseover)="myTooltip.show()"
          (mouseout)="myTooltip.hide()">
          (?)
        </span>
        <input type="text">
      </label> -->
</div>
<router-outlet></router-outlet>
